body{font-size:14pt;line-height:;font-family:Lucida Sans Unicode, Lucida Grande, sans-serif;background-color:#484642;width:100%;background-image:url(backgroundlogo.png);background-repeat: repeat;text-align:;margin:0px;color:#666666;direction:;}
p{padding-right: 4px;padding-left: 4px;}
a{color:#666666;text-decoration:none;font-weight:bold;font-size:14pt;}
a:visited{color:#666666;text-decoration:none;font-weight:bold;}
h1{font-family: "Lucida Sans Unicode";font-size: 18pt;color: #474747;font-weight: regular;}
h2{ffont-family: "Lucida Sans Unicode";font-size: 14pt;color: #474747;font-weight: regular;}
h3{font-family: "Lucida Sans Unicode";font-size: 12pt;color: #474747;font-weight: bold;}
li{font-family: "Lucida Sans Unicode";font-size: 11pt;font-style: normal;line-height: normal;padding: 0px;/*list-style-type: square;*/margin-bottom:10px;color: #666666;}
.itemimage{border:solid 0px #aaa;max-width:100px;width: expression(this.width > 100 ? 100: true);vertical-align:middle;}
 .iimage{border:solid 0px #aaa;max-width:320px;width: expression(this.width > 320 ? 320: true);vertical-align:middle;}
ol{list-style-type: decimal;}
ul{list-style-type: square;}

/*magazinemenucssaddition2*/

.magazinemenucontainer
{
  padding: 0px;
  margin: 0px;
  list-style: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0.1);

}
.magazinemenucontainer *
{
vertical-align:middle;

}
.magazinemenuitem
{
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  max-height: 86px;
 
}
.magazinemenulink
{
  display: block;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  background:#ffffff;
  opacity:0.9;

}
.magazinemenuimgcontainer
{
display: inline-block;
  width: 75px;
 
}
 .magazinemenuitemimage
{
  vertical-align: middle;
  max-height: 75px;
  max-width: 75px;
  margin: 0 8px 0 8px;
  display: block;
  padding: 9px 0 8px 0;

}
.magazinemenutextcontainer
{
display: inline-block;
 max-width:75%;

}
.magazinemenutext1
{
  margin: 10px 0 0;
  font-size: 16px;
  line-height: 15px;
  font-weight: bold;
 color: #000000;
  font-family: STHeitiTC-Light, Helvetica;

}
.magazinemenutext2
{
  margin: 0 0 10px 0;
  font-size: 12px;
  font-family: STHeitiTC-Light, Helvetica;
  color: #696969;
  line-height: 16px;
  font-weight: 100;

}
.magazinemenuimgarrow
{
  vertical-align: middle;
  padding: 10px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;

}
